<% include head.ejs%>

<body>
    <div class="container-fluid" id="app">hello from index.ejs!</div>

    <script type="text/javascript" src="/dist/bundle.js"></script>
  </body>

<% include foot.ejs%>